body {
  background-color: #000b14;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #ffffff;
}

.btn-light {
  margin-top: 10vh;
}

img {
  width: 75vh;
}

#bday-btn {
  display: none;
}

img {
  position: absolute;
  width: 600px;
  height: 600px;
}

#canvas {
  position: relative;
  z-index: 2;
}

#years {
  position: relative;
  bottom: 250px;
  left: 350px;
  z-index: 3;
}

#years-left {
  position: relative;
  bottom: 400px;
  left: 350px;
  z-index: 4;
}
