body {
  background-color: #000b14;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #ffffff;
}

h2 {
  margin-top: 10%;
}

.btn-light {
  margin-top: 10vh;
  font-size: 18px;
  width: 100px;
}

#bday-btn {
  display: none;
}

img {
  position: absolute;
  margin-top: 40px;
  width: 600px;
  height: 600px;
}

#canvas {
  position: relative;
  margin-top: 40px;
  z-index: 2;
}

#years {
  position: relative;
  bottom: 275px;
  left: 300px;
  z-index: 3;
}

#years-left {
  position: relative;
  bottom: 410px;
  left: 310px;
  z-index: 4;
}

#years, #years-left {
  font-size: 30px;
}
